adium-theme-ubuntu==0.3.4
appdirs==1.4.1
attrs==15.2.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
blinker==1.3
chardet==2.3.0
click==6.7
cryptography==1.2.3
debtags==2.0
decorator==4.0.6
defer==1.0.6
dirspec==13.10
duplicity==0.7.6
ecdsa==0.13
enum34==1.1.2
Flask==0.12
get==0.0.0
gunicorn==19.6.0
html5lib==0.999
httplib2==0.9.1
idna==2.0
ipaddress==1.0.16
ipython==2.4.1
itsdangerous==0.24
Jinja2==2.9.5
lockfile==0.12.2
lxml==3.5.0
MarkupSafe==0.23
mercurial==3.7.3
mysqlclient==1.3.7
ndg-httpsclient==0.4.0
oauthlib==1.0.3
oneconf==0.3.9
packaging==16.8
PAM==0.4.2
paramiko==1.16.0
pexpect==4.0.1
Pillow==3.1.2
piston-mini-client==0.7.5
post==0.0.0
protobuf==3.2.0
ptyprocess==0.5
public==0.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.7
PyBluez==0.22
pycrypto==2.6.1
pycryptopp==0.6.0.1206569328141510525648634803928199668821045408958
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyJWT==1.3.0
PyMySQL==0.7.9
pyOpenSSL==0.15.1
pyparsing==2.1.10
pyrit==0.4.0
pyserial==3.0.1
python-apt==1.1.0b1
python-axolotl==0.1.35
python-axolotl-curve25519==0.1
python-dateutil==2.6.0
python-debian==0.1.27
pytube==6.2.2
pyxdg==0.25
query-string==0.0.0
readline==6.2.4.1
remuco==0.9.6
request==0.0.0
requests==2.7.0
scapy==2.2.0
selenium==3.0.2
service-identity==16.0.0
setupfiles==0.0.0
simplegeneric==0.8.1
six==1.10.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==1.0.11
Twisted==16.0.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.13.1
vboxapi==1.0
virtualenv==15.1.0
Werkzeug==0.11.15
whisper==0.9.15
wxPython==3.0.2.0
wxPython-common==3.0.2.0
youtube-dl==2016.10.26
yowsup2==2.5.0
zope.interface==4.1.3
